.Login
{
  text-align: center;
  font-family: sans-serif;
}

.Register
{
  text-align: center;
  font-family: sans-serif;
}

.Validation
{
  text-align: center;
  min-width: 750px;
  font-family: sans-serif;
}

.App-header
{
  /*background-color: hsla(125, 85%, 49%, 0.774);*/
  /*width: 100%;*/
  /*min-height: 2vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*padding: 20px;*/
  /*font-size: calc(15px + 3vmin);*/
  /*!*color: gray;*!*/

  background-color: hsla(125, 85%, 49%, 0.774);
  /*min-height: 2vh;*/

  padding: 10px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  color: gray;
}

.Validation-header
{
  background-color: hsla(125, 85%, 49%, 0.774);
  width: 100%;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(15px + 3vmin);
}

.GreetLabel
{
  width: 280px;
  float: right;
}

/*.Picture*/
/*{*/
/* background: white;*/
/* max-height: 100px;*/
/* width: 200px;*/
/* float: left;*/
/* padding: 20px;*/
/*}*/
.ValidationTable
{
  width: 100%;
  display: table;
}

.ValidationBodyHolder
{
  display: table-row;
}

.ButtonHolder
{
  /*background: white;*/
  width: 12.5%;
  display: table-cell;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: calc(0px + 5vmin);
}

.TableHolder
{
  display: table-cell;
  width: 85%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: calc(0px + 5vmin);
}

body
{
  background-color: rgb(73, 69, 69) ;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 0;
  height: 100%;
  color: white;
}

/* textfield properites for username and password */
input
{
  width: 200px;
  height: 25px;
  border-radius: 15px;
  border: none;
  text-align: center;
  outline-width: 0;
}

/* all a:xxxx deals with the link and it's properties */
a:link
{
  font-size: medium;
  color: white;
}

a:visited
{
  color: white;
}

a:hover
{
  color: hsla(125, 85%, 49%, 0.774);
}

a:active
{
  color:hsla(125, 85%, 49%, 0.774);
}

button
{
  /*background-color: hsla(125, 85%, 49%, 0.774);*/
  /*font-style: normal;*/
  /*color: white;*/
  /*border: none;*/
  /*!* padding-right: 10%; *!*/
  /*width: 150px;*/
  /*height: 30px;*/
  /*text-align: center;*/
  /*font: icon;*/
  /*font-weight: bold;*/
  /*border-radius: 15px 50px;*/

  background-color: hsla(125, 85%, 49%, 0.774);
  font-style: normal;
  color: white;
  border: none;
  /* padding-right: 10%; */
  width: 150px;
  height: 30px;
  text-align: center;
  font: icon;
  font-weight: bold;
  border-radius: 15px 50px;
  outline-width: 0;
  cursor: pointer;
}

label
{
  color: aliceblue;
}

#tableHeader
{
  color: black;
}