#LeftSidedTab{
    width: 200px;
    height: 1000px;
    float: left;
    background: rgb(73, 69, 69);
}

#RightSideTable{
    min-height: 100%;
    width: 100%;
    height: 1000px;
    background: rgb(73, 69, 69) ;
}

#MainBody{
    width: 100%;
    height: 100%;
}

#BodyHeader{
    width: 100%;
    height: 100px;
    background: hsla(125, 85%, 49%, 0.774);
}

#CompanyLogo{
    width: 50%
}

#GreetingUser{
    margin-left: 85%;
}

#TabButtons{
    width: 80%;
    margin: 15px auto;
    padding-left: 20px;
}

#UserLabel{
    display: inline-block;
    background-color: hsla(125, 85%, 49%, 0.0);
    color: white;
    width: 125px;
    height: 30px;
    padding-top: 50px;
    text-align: end;
    font: icon;
    font-weight: bold;
    border-radius: 15px 50px;
}


#Browse
{
    display: inline-block;
    background-color: hsla(125, 85%, 49%, 0.774);
    font-style: normal;
    color: white;
    border: none;
    width: 125px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font: icon;
    font-weight: bold;
    border-radius: 15px 50px;
    outline-width: 0;
    cursor: pointer;
}


button
{
    display: inline-block;
    background-color: hsla(125, 85%, 49%, 0.774);
    font-style: normal;
    color: white;
    border: none;
    width: 125px;
    height: 40px;
    text-align: center;
    font: icon;
    font-weight: bold;
    border-radius: 15px 50px;
    outline-width: 0;
    cursor: pointer;
}










