.Table {
    border-spacing: 1px;
    background: #B9B7B7;
    box-shadow: 0 0px 0 0 rgba(22, 29, 37, 0.05);
}

.Cell {
    border: 0px solid #ffffff;
    padding-top: 0px;
    padding-right: 30px;
    text-align: left;
    font:  25px "Times New Roman";
}

